body{
  height: 50rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.calculator{
  border: solid;
  /* border-radius: 15px; */
  border-top-left-radius: 50px;
  border-top-right-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.display{
  height: 5rem;
  text-align: right;
  font-size: 22px;
  padding: 1rem;
}

.input{

  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
}

button{
  border: none;
  border-radius: 1px;
  background: black;
  color: white;
  padding: 1.5rem;
  font-size: 24px;
}
